.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(3px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 2.5em;
  font-family: 'Arial Narrow Bold', sans-serif;
  color: #bfe9c1;
  text-decoration: none;
}
