
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kkartizan</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Kkartizan</h1>
    <div class="korisnik"> 
        {% if request.user.username %}   
        <h2>Korisnik: {{ request.user.username }}</h2>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="menibtn"> Logout </button>
        </form>
        <h2>Kupljene karte</h2>
        {% endif %}
    </div>
    <ul>
        {% for t in tekme %}
        <li>
            <img src="{{ t.urlSlike }}" alt="Utakmica" width="330" height="180">
            <div class="match-info">
                <span>Partizan VS {{ t.protivnik }}</span>
                <span class="date">{{ t.datumVreme|date:"d.m.Y. H:i" }}</span>
            </div>
            <form action="{% url "buypage" %}" method="get">
                <input type="hidden" name="id" value="{{ t.id }}">
                <button type="submit">Kupi karte</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
